
body{ font-family:"Segoe UI", Helvetica, Verdana;font-size: 11px;padding: 0px;}
#wrapper{width:700px;}
h1{font-weight:normal;}
.header { margin-top: 2em;font-weight:normal; }
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}
#verticalSliders{height:140px;padding-top:20px;}
#verticalSliders > div{float:left;margin:20px;}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    
}

html, body{
    height: 100%;
}

.ui-widget-content #ScriptDialog {
    background: #f6f4ec !important;
}

.ui-state-default .ui-corner-top li{
    border-top-left-radius: 5px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active { 
-webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 3px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 3px rgba(0,0,0,.2);
    color: #fff;
     }
.ui-tabs .ui-tabs-nav li.ui-tabs-active a{ 
    color: #fff;
     }

#electrodestable td.left{
    padding: 1px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#electrodestable td.right{
    padding: 1px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#electrodestable th.mid{
    border-left: 1px solid black;
    border-right: 1px solid black;
}


*.shutterbox {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em;}*/

.ui-widget-content .ui-tab-panel{
    background: none;
}


.ui-accordion-header[role="tab"] {
    background: none;
}

.ui-accordion-header[role="tab"].on {
    background: url(images/on.png) 160px 11px no-repeat;
}

.ui-accordion-header[role="tab"].off {
    background: url(images/off.png) 160px 11px no-repeat;
}

.ui-accordion-header[role="tab"].idle {
    background: url(images/idle.png) 160px 11px no-repeat;
}

.ui-accordion-header.Settings .ui-icon {
    background: url(images/Settings.png);
}
.ui-accordion-header.Comb .ui-icon {
    background: url(images/Comb.png);
}
.ui-accordion-header.QuAD .ui-icon {
    background: url(images/QuAD.png);
}
.ui-accordion-header.CavTemp1092 .ui-icon {
    background: url(images/CavTemp1092.png);
}
.ui-accordion-header.Websocket .ui-icon {
    background: url(images/Websocket.png);
}
.ui-accordion-header.Shutters .ui-icon {
    background: url(images/Shutters.png);
}
.ui-accordion-header.Oven .ui-icon {
    background: url(images/Oven.png);
}
.ui-accordion-header.Wavemeter .ui-icon {
    background: url(images/Wavemeter.png);
}
.ui-accordion-header.Logs .ui-icon {
    background: url(images/Logs.png);
}
.ui-accordion-header.Plot .ui-icon {
    background: url(images/Plot.png);
}
.ui-accordion-header.Script .ui-icon {
    background: url(images/Script.png);
}
.ui-accordion-header.Powermeter .ui-icon {
    background: url(images/Powermeter.png);
}
.ui-accordion-header.PhotonCounter .ui-icon {
    background: url(images/PhotonCounter.png);
}
.ui-accordion-header.Camera .ui-icon {
    background: url(images/Camera.png);
}
.ui-accordion-header.PulseProgrammer .ui-icon {
    background: url(images/PulseProgrammer.png);
}
.ui-accordion-header.Bfield .ui-icon {
    background: url(images/Bfield.png);
}
.ui-accordion-header.Newport .ui-icon {
    background: url(images/Newport.png);
}
.ui-accordion-header.LaserController .ui-icon {
    background: url(images/LaserController.png);
}
.ui-accordion-header.TrapElectrodes .ui-icon {
    background: url(images/TrapElectrodes.png);
}
.ui-accordion-header.TrapElectrodesAgilent .ui-icon {
    background: url(images/TrapElectrodesAgilent.png);
}

.ui-accordion-header.FunctionGenerator .ui-icon {
    background: url(images/FunctionGenerator.png);
}
.ui-accordion-header.Oscilloscope .ui-icon {
    background: url(images/Oscilloscope.png);
}

.ui-accordion-header.Lock .ui-icon {
    background: url(images/Lock.png);
}

.ui-accordion-header.ThreadManager .ui-icon {
    background: url(images/ThreadManager.png);
}

.board2 {
background: #f66;
}

.board1 {
background: #8ea;
}

.datatable td {
padding: 2px;
}

.longinput {
width: 70px;
}

.shuttertable .bordered td {
border: 1px solid black;
}

/* menu and main CSS */
#logowrapper {
    background: url(images/arc.png) no-repeat;
    background-position: 8px 3px;
    background-size: 35px; 
}

#logo {

    position: relative;
    left: 32px;
    top: 3px;
    font-family: 'Raleway', Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    /*float: left;*/
    /*overflow: visible;*/
    color: #fff;
    font-size: 28px;
    height: 35px;
    padding: 2px 10px 0 15px;
    z-index:10000;
text-shadow:0px 0px 0 rgb(158,158,158), 1px 1px 0 rgb(71,71,71),2px 2px 1px rgba(0,0,0,0.6),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);
}

#clock{
    vertical-align: middle;
    float:left;
    font-size:14px;
    font-weight:bold;
    padding: 0 10px 0 10px;
    color:#fff;
    text-shadow:0px 0px 0 rgb(158,158,158), 1px 1px 0 rgb(71,71,71),2px 2px 1px rgba(0,0,0,0.6),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);
}

#experiment{

    position:absolute;
    left: 130px;
    top: 4px;
    font-family: 'Raleway', Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    /*float: left;*/
    /*overflow: visible;*/
    color: #fff;
    font-size: 15px;
    text-shadow:0px 0px 0 rgb(158,158,158), 1px 1px 0 rgb(71,71,71),2px 2px 1px rgba(0,0,0,0.6),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);

}

#menuwrapper {
	height: 100%;
	/*float: right;*/
	position: fixed;
	margin: 0 0 0 0;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index:10000;
	background-color: #c4bfae;
	/*border:none; outline-width: 0px !important;*/
	width: 180px;
background: -webkit-gradient(linear, right top, left top, from(#c4bfae), to(#B0AB9C), color-stop(0.96, #c4bfae));
	}

#menu{ 
    width: 100%;
 }

.single-menu-container {display: none !important;}	
	
#workingwindow {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 180px;
}	



#gridbody {}

/* end menu and main CSS */	


/* Comb CSS */
.combsqueezer {
    height: 80px;
    margin: 6px 18px 18px 18px;
}
.combtable td {
    text-align: center;
    width: 20px;
}

/* end of comb CSS */

/* Shutters CSS */

.shutterbox {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: #000;
    font-size: 1.3em;
    line-height: 50px;
    cursor: hand; cursor: pointer;
}

.shutterbox.OPEN {
    text-shadow: 0px 0px 5px #fff; 
    background: transparent url('images/open_red.png') no-repeat;
    background-size: 50px 50px;
}
.shutterbox.CLOSE {
    text-shadow: none;
    background: transparent url('images/close_red.png') no-repeat;
    background-size: 50px 50px;
}


/* End Shutters CSS */

/* Toggle switch CSS - from http://proto.io/freebies/onoff/*/

    .onoffswitch {
    position: relative; width: 65px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
      
    }
    .onoffswitch-checkbox {
    display: none;
    }
    .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #555555; border-radius: 20px;
    
    }
    .onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.1s ease-in 0s; -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s; transition: margin 0.1s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0 15px; line-height: 20px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    
    .onoffswitch-label{
    /*-webkit-box-shadow: 0 0 15px #00FF00;*/
    }
    .onoffswitch-inner:before {
    content: "ON";
    padding-left: 0px;
    /*background-color: #47A366; color: #FFFFFF;*/
    background-color: #00FF00; 
    }

    
    .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 6px;
    background-color: #BC4E39; color: #FFFFFF;
    text-align: right;
    }
    .onoffswitch-switch {
    display: block; width: 20px; margin: 0px;
    background: radial-gradient(white,  silver, gray, black); 
    border: 2px solid #555555; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 41px;
    
    -moz-transition: all 0.1s ease-in 0s; -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s; transition: all 0.1s ease-in 0s;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    }
/* End toggle switch CSS */

/* Spinner CSS */



/* End spinner CSS */

/* Overlay CSS */

.overlay {
    position:absolute;
    top: 0;
    width:100%;
    height:100%;
    background:#FF2400;
    opacity: 0.5;
}
/* End overlay CSS */
    
    
      .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
      }
      /* IE 6 doesn't support max-height
       * we use height instead, but this forces the menu to always be this tall
       */
      * html .ui-autocomplete {
        height: 100px;
      }
      
